*{
	margin:0;
	padding:0;
}

html{
	height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
	touch-action: none;
}
body{
	width: 1080px;
	background-image: url("../img/Background.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}
@font-face{
    font-family:'Montserrat-Regular';
    src: url(../font/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family:'Montserrat-SemiBold';
	src: url(../font/Montserrat-SemiBold.ttf);
	font-weight:bold;
    font-style: normal;
}
@font-face{
	font-family:'Montserrat-Bold';
	src: url(../font/Montserrat-Bold.ttf);
	font-weight:bold;
    font-style: normal;
}
@font-face{
	font-family:'Montserrat-Black';
	src: url(../font/Montserrat-Black.ttf);
	font-weight:bold;
    font-style: normal;
}
@font-face{
	font-family:'Montserrat-Light';
	src: url(../font/Montserrat-Light.ttf);
	font-weight: lighter;
    font-style: normal;
}
@font-face{
	font-family:'Montserrat-Thin';
	src: url(../font/Montserrat-Thin.ttf);
	font-weight: lighter;
    font-style: normal;
}


/*----SCREENSAVER----*/
#logo-aidu{
	margin-left: 500px;
	margin-top: 54px;
}
#kiosco-Aidu{
	margin-top: 400px;
}
#logo-fluyapp{
	margin-left: 362px;
	margin-top: 66px;
}
#telefono-mano-fluyapp{
	margin-top: 583px;
}
#logo-Sistema-de-turnos{
	margin-left: 370px;
	margin-top: 80px;
}

#kiosco-SDT{
	/*margin-left: 370px;*/
	margin-top: 445px;
}
#logo-kioskos-interactivos{
	margin-top: 140px;
	margin-left: 242px;
}
#kiosco-ki{
	margin-top: 330px;
}
#logo-ugrade{
	margin-top: 137px;
	margin-left: 340px;
}
#pedestal-ugrade{
	margin-top: 526px;
}

/*----SCREENSAVER END----*/


/*----HEADER----*/
header{
	width: 1080px;
	height: 280px;
	/*background-color: aqua;*/
}

.header .top-header .container .top-logo{
	width: 1080px;
	height: 280px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-color: #E1191D;*/
}

.header .top-header .container .top-menu{
	width: 1080px;
	height: 88px;
	background-image: url("../img/Bgbuttons.png");
	/*background-color: #23ED4D;*/
}

.header .top-header .container .top-menu a{
	float: left;
	margin-top: 12px;
	border-radius: 40px;
	font-size: 24px;
	font-family: Montserrat-Regular;
}

.header .top-header .container .top-menu .btn-Nosotros{
	text-decoration: none;
	color: #FFFFFF;
	background: transparent linear-gradient(90deg, #0E2954 0%, #1F6E8C 100%) 0% 0% no-repeat padding-box;
	padding: 24px 66px;
	margin-left: 184px;
}
.header .top-header .container .top-menu .btn-Soluciones{
	text-decoration: none;
	background-color: white;
	border: 1px solid #000000;
	color: #404040;
	padding: 23px 40px;
	margin-left: 80px;
}

.header .top-header .container .top-menu .btn-Nosotros2{
	text-decoration: none;
	color: #404040;
	background-color: white;
	border: 1px solid #000000;
	padding: 24px 66px;
	margin-left: 184px;
}
.header .top-header .container .top-menu .btn-Soluciones2{
	text-decoration: none;
	background: transparent linear-gradient(90deg, #0E2954 0%, #1F6E8C 100%) 0% 0% no-repeat padding-box;
	
	color: #FFFFFF;
	padding: 23px 40px;
	margin-left: 80px;
}
/*------------------------------*/
.headerProductos{
	width: 1080px;
	height: 280px;
	display: flex;
	justify-content:flex-start;
	align-items: center;
	/*background-color: aqua;*/
}
.headerProductos .top-headerProductos .container .BackButton{
	width: 158px;
	height: 148px;
	float: left;
	display: flex;
	justify-content:flex-end;
	align-items: center;
	/*background-color: red;*/
}
.headerProductos .top-headerProductos .container .top-logoProductos{
	float: left;
	margin-left: 235px;
}
/*----HEADER END----*/

/*----MAIN----*/

/*----IMG NOSOTROS----*/
.imgNosotros{
	width: 1080px;
	height: 448px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-color: #23ED4D;*/
}
/*----IMG NOSOTROS END----*/

.main .txtNosotros{
	padding: 0 90px;
}

.main .txtNosotros .txt p{
	text-decoration: none;
	font-family: Montserrat-Regular;
	font-size: 22px;
	text-align: justify;
	line-height: 36px;
}
.main .txtNosotros .banderas{
	padding-top: 15px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*----MAIN END----*/

/*----FOOTER----*/
.footer{
	width: 1080px;
	height: 235px;
	position: absolute;
	bottom: 0;
	padding-bottom: 40px;
}
.footer .contacto{
	width: 1080px;
	height: 207px;
}
.footer .contacto .txtEscanea{
	width: 760px;
	height: 207px;
	float: left;
	display: flex;
	justify-content:flex-end;
	align-items: flex-end;
}
.footer .contacto .txtEscanea p{
	text-decoration: none;
	font-family: Montserrat-Black;
	text-align: right;
	font-size: 37px;
	color: #0E2954;
}
.footer .contacto .imgQR{
	float: left;
	margin-left: 20px;
}
.txtPagWeb{
	text-decoration: none;
	font-family: Montserrat-Bold;
	color: #0E2954;
	font-size: 16px;
	float:right;
	margin-right: 114px;
}
/*----FOOTER END----*/

/*----PRODUCTOS----*/
.banner{
	width: 1080px;
	height: 487px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.botones-soluciones{
	width: 1080px;
	height: 638px;
	padding:0 83;
	display: flex;
	justify-content: center;
}
.botones-productos{
	width: 964px;
}
.boton{
	width: 437px;
	height: 186px;
	float:left;
	margin: 0 20px 40px;
	border-radius: 40px;
	border: 1px solid #000000;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 10px 0px #0000001A;
}
/*----PRODUCTOS END----*/

/*----SISTEMA DE FILA----*/
.Producto{
	width: 1080px;
	height: auto;
	/*background-color: aqua;*/
}
.Producto .ContainerProducto{
	margin: 0px 78px 0px;
}
.Producto .ContainerProducto .Container{
	height: 397px;
	margin-bottom: 30px;
}

.Producto .ContainerProducto .Container .box1{
	width: 452px;
	height: 397px;
	float: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/*background-color: yellow;*/
}
.Producto .ContainerProducto .Container .box1 .ContainerTitulo{
	width: 452px;
	height: auto;
	/*background-color: red;*/
}
.Producto .ContainerProducto .Container .box1 h1{
	text-decoration: none;
	color: #0E2954;
	font-family: Montserrat-Black;
	font-size: 60px;
}
.Producto .ContainerProducto .Container .box1 h2{
	text-decoration: none;
	color: #0E2954;
	font-family: Montserrat-Regular;
	font-size: 38px;
}
.Producto .ContainerProducto .Container .box2{
	width: 452px;
	height: 397px;
	float: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 20px;
	/*background-color: orangered;*/
}
.Producto .ContainerProducto .Container .txtProducto h3{
	text-decoration: none;
	font-family: Montserrat-SemiBold;
	font-size: 29px;
	color: #0E2954;
}
.Producto .ContainerProducto .Container .txtProducto p{
	text-decoration: none;
	font-family: Montserrat-Regular;
	font-size: 18px;
	colo: #404040;
	text-align: justify;
	margin-top: 20px;
}
.VideoProducto video{
	border-radius: 20px;
}
/*----SISTEMA DE FILA END----*/

/*----IOT----*/
.IOTContainer{
	height: 460px;
	margin-bottom: 30px;
}
.Producto .ContainerProducto .IOTContainer .box1{
	width: 452px;
	height: 460px;
	float: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/*background-color: yellow;*/
}
.Producto .ContainerProducto .IOTContainer .box1 .ContainerTitulo{
	width: 452px;
	height: auto;
	/*background-color: red;*/
}
.Producto .ContainerProducto .IOTContainer .box1 h1{
	text-decoration: none;
	color: #0E2954;
	font-family: Montserrat-Black;
	font-size: 60px;
}
.Producto .ContainerProducto .IOTContainer .box1 h2{
	text-decoration: none;
	color: #0E2954;
	font-family: Montserrat-Regular;
	font-size: 38px;
}
.Producto .ContainerProducto .IOTContainer .box2{
	width: 452px;
	height: 460px;
	float: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 20px;
	/*background-color: orangered;*/
}
.Producto .ContainerProducto .IOTContainer .txtProducto h3{
	text-decoration: none;
	font-family: Montserrat-SemiBold;
	font-size: 29px;
	color: #0E2954;
}
.Producto .ContainerProducto .IOTContainer .txtProducto{
	text-decoration: none;
	font-family: Montserrat-Regular;
	font-size: 18px;
	colo: #404040;
	text-align: justify;
	margin-top: 20px;
}
.IOTContainer2{
	height: 330px;
}
.Producto .ContainerProducto .IOTContainer2 .box1{
	width: 452px;
	height: 330px;
	float: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/*background-color: yellow;*/
}
.Producto .ContainerProducto .IOTContainer2 .box1 .ContainerTitulo{
	width: 452px;
	height: auto;
	/*background-color: red;*/
}
.Producto .ContainerProducto .IOTContainer2 .box2{
	width: 452px;
	height: 330px;
	float: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 20px;
	/*background-color: orangered;*/
}
.Producto .ContainerProducto .IOTContainer2 .txtProducto h3{
	text-decoration: none;
	font-family: Montserrat-SemiBold;
	font-size: 29px;
	color: #0E2954;
	text-align: left;
}
.Producto .ContainerProducto .IOTContainer2 .txtProducto{
	text-decoration: none;
	font-family: Montserrat-Regular;
	font-size: 18px;
	colo: #404040;
	text-align: justify;
}
.LogoProducto{
	width: 452px;
	display: flex;
	justify-content:center;
	align-items: center;
	margin-bottom: 16px;
}
.SubBoxContainer{
	width: 100%;
	height: 154px;
	margin-top: 16px;
}
.SubBox{
	width: 218px;
	height: 154px;
	background-color: #0E2954;
	border-radius: 22px;
	margin-right: 16px;
	float: left;
}
.SubBox1{
	width: 218px;
	height: 92px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.SubBox2{
	text-decoration: none;
	color: #fff;
	font-family: Montserrat-Bold;
	text-align: center;
	margin-top: 5px;
}
.IOTCaracteristicas{
	margin-top: 20px;
}
.IOTCaracteristicas h4{
	width: 924px;
	height: auto;
	text-align: center;
	text-decoration: none;
	font-family: Montserrat-SemiBold;
	font-size: 29px;
	color: #0E2954;
}
.puntos{
	margin-top: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.puntos .fila-punto{
	width: 750px;
}
.puntos .fila-punto .fila1{
	margin-top: 15px;
}
.puntos .fila-punto .fila1 .col-1{
	margin-right: 15px;
	float: left;
	width: 22px;
	height: 45px;
}
.puntos .fila-punto .fila2{
	margin-top: 15px;
}
.puntos .fila-punto .fila2 .col-1{
	margin-right: 15px;
	float: left;
	width: 22px;
	height: 22px;
}
.puntos .fila-punto .fila3{
	margin-top: 15px;
}
.puntos .fila-punto .fila3 .col-1{
	margin-right: 15px;
	float: left;
	width: 22px;
	height: 22px;
}
.puntos .fila-punto .fila4{
	margin-top: 15px;
}
.puntos .fila-punto .fila4 .col-1{
	margin-right: 15px;
	float: left;
	width: 22px;
	height: 50px;
}
.puntos .fila-punto .fila5{
	margin-top: 15px;
}
.puntos .fila-punto .fila5 .col-1{
	margin-right: 15px;
	float: left;
	width: 22px;
	height: 22px;
}
/*----IOT END----*/

/*------------------------------------------------------------------*/




/*----MAIN----*/


.main .blog{
	position: absolute;
	width: 1080px;
	margin-top: 246px;
	z-index: 1;
}

.main .blog .titulo{
	width: 1080px;
	height: 70px;
}

.main .blog .titulo .vineta{
	width: 28px;
	height: 56px;
	background-image: url(../img/vineta.png);
	background-repeat: no-repeat;
	float: left;
	margin-left:64px;
	margin-top: 13px;
}

.main .blog .titulo h1{
	float: left;
	color: #FFFFFF;
	padding-left: 22px;
	font-family: Roboto-Thin;
	font-size: 72px;
	letter-spacing: 10px;
}

.main .blog .parrafo-nosotros{
	margin-top: 100px;
}

.main .blog .parrafo-nosotros p{
	width: 838px;
	margin-left: 64px;
	color: #FFFFFF;
	font-family: Roboto-Thin;
	font-size: 28px;
	text-align: justify;
	line-height: 40px;
}
.main .blog .parrafo-nosotros p strong{
	font-family: Roboto-Bold;
}

.main .blog .cita{
	margin-top: 100px;
}

.main .blog .cita em{
	float: right;
	color: #FFFFFF;
	font-family: Roboto-Thin;
	font-size: 28px;
	margin-right: 65px;
}
.main .blog .cita em strong{
	font-family: Roboto-Bold;
}

/*---- FLUYAPP ----*/
.main .blog-fluyapp{
	position: absolute;
	width: 1080px;
	margin-top: 175px;
	z-index: 1;
}
.main .blog-fluyapp .titulo{
	width: 1080px;
	height: 70px;
}
.main .blog-fluyapp .titulo .vineta-turqueza{
	width: 28px;
	height: 56px;
	background-image: url(../img/vineta-turqueza.png);
	background-repeat: no-repeat;
	float: left;
	margin-left:64px;
	margin-top: 13px;
}
.main .blog-fluyapp .titulo h1{
	float: left;
	color: #FFFFFF;
	padding-left: 22px;
	font-family: Roboto-Thin;
	font-size: 72px;
	letter-spacing: 10px;
}
.main .blog-fluyapp .logo-titulo-fluyapp{
	margin-top: 101px;
	margin-left: 65px;
}
.main .blog-fluyapp .parrafo-queesfluyapp p{
	width: 940px;
	margin-left: 65px;
	margin-top: 84px;
	color: #FFFFFF;
	font-family: Roboto-Thin;
	font-size: 28px;
	text-align: justify;
	line-height: 40px;
}
.main .blog-fluyapp .slogan-fluyapp{
	margin-top: 48px;
	margin-left: 672px;
}
/*---- FLUYAPP END ----*/




/*----MAIN END----*/









